# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Valgrind
vgcore*

# Clion
.idea
cmake-build-*

# Others
Pokemon_Yellow_Version.gb
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
*.fx
*.sav
*.gb
*.gbc
*.sym

build*
